@{
    ViewBag.Title = "Not Found";
}

<div class="col-md-12 text-center" style="color: #1b2a4e;">
    <div class="error_number" style="font-size: 156px; font-weight: 600; line-height: 100px;">
        <small style="font-size: 56px; font-weight: 700;">ERROR</small><br>
        404
        <hr style="margin-top: 60px; margin-bottom: 0; width: 50px;">
    </div>
    <div class="error_title text-muted" style="margin-top: 40px; font-size: 36px; font-weight: 400;">
        Page not found.
    </div>
</div>
